h1 {
    font-family: Monaco sans-serif;
    font-size: 46px;
    text-align: center;
}

td {
  font-size: 2em;
  height: 100px;
  width: 100px;
  text-align: center
}

.vert {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.horiz {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.y-wrap {
}

.gamewrap {
    height: 500px;
    position: relative;
}

#gameinfo {
  font-size: 1.5em;
  text-align: center;
}

.cellwrap {
    position: absolute;
    top: 30%;
    left: 33%;
}
